.page-template-wrapper {
  background-color: var(--color-shade-50);
}

.page-template-inner {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 64em;
  width: 110ch;
  padding: 1em;

  @media (min-width: 480px) {
    padding: 2em;
  }

  @media (min-width: 760px) {
    padding: 4em 2em;
  }
}
